body{
	color:F1F1F1;
}

.nax-header, .navbar-brand{
	color: #F15725;
}


.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 5%;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	        box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#forgot-password{
	color: #f80b07;
}

.offset-top-auth{
	margin-top: 150px;
}
.highlighter{
	background-color: #F15725;
}
li.active-inverse a.white{
	color: #eaeaea;
}

li.active-inverse a.white:hover{
	color: #fefefe;
}
.hrDivider{
	border: 1px solid black;
}
.hrDividerDotted{
	border: 1px dotted black;
}
.hrDividerBetween{
	border: 1px solid gray;
}
.offset-top{
	padding-top: 50px;
}
.offset-margin{
	margin-top: 50px;
}
.pointer{
	cursor: pointer;
}
.strong{
	font-weight: bold;
}